.decrement {
    background-color: var(--danger-color);
    color: white;  
}

.increment {
    background-color: var(--success-color);
    color: white;
}

.number-input {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    margin-bottom: 5px;
}

.number-input input {
    width: 60px;
    text-align: center;
    padding: var(--spacing-sm);
    border-radius: var(--border-radius);
    border: solid var(--border-width) var(--border-color);
    width: 100%;
    font-size: var(--font-size-base);
}

.number-input button {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    border: solid var(--border-width) var(--border-color);
    cursor: pointer;
    font-size: var(--font-size-base);
}
